.DS_Store
.STATE
*.pyc
__pycache__
dist/
build/
*.egg-info/
.pypirc
pypi_recovery.txt
.venv/
.idea/
.vscode/
.pytest_cache/
data.ms/

credentials/
gitcmds/
.cache/
.heaven/

*.rar
*.zip
*.test
*.cache
*.log
*.temp
*.tmp
*.lock

clear*.bash
push*.bash
pull*.bash
sync*.bash
release*.bash
temp*.py
test*.py

scripts/ponies_crawler/extracted/
scripts/adv_gen/generated/
scripts/mil_gen/generated/
scripts/region_gui/
__materials__
__workspace__
